<div class="login-container">
    <form class="login-form">
        <h1>Login</h1>
        <mat-form-field class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail" required>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" required>
        </mat-form-field>

        <span class="register-container">You have no account? Register <a class="register-btn" routerLink="/register">here</a> </span>
        <span class="forgot-password">Forgot your password</span>

        <button class="login-btn" mat-raised-button color="primary">Login</button>
    </form>
</div>

